<form method='post' action='/play'>
  <div class='board'>
    <% @board.squares.each do |num, marker| %>
      <div class="cell" id='square-<%= num %>'>
        <button type='submit'><%= marker %></button>
      </div>
    <% end %>
  </div>
</form>
