<div class='board'>
  <% session[:board].squares.each do |num, marker| %>
    <form method='post' action='/play/<%= num %>'>
      <div class="cell" id='square-<%= num %>'>
        <button type='submit'><%= marker %></button>
      </div>
    </form>
  <% end %>
</div>

<div>
  <form action='/reset_board' method='post'>
    <button type='submit'>Reset Board</button>
  </form>
</div>
