<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <title>Tic Tac Toe</title> 
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Heebo">
  </head>
  <body>
    <header>
      <h1>Tic Tac Toe</h1>
      <% if session[:error] %>
        <p><%= session.delete(:error) %></p>
      <% elsif session[:success] %>
        <p><%= session.delete(:success) %></p>
      <% end %>
    </header>
    <main><%= yield %></main>
  </body>
</html>
