.grid {
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 200px 200px 200px;
}

div.cell {
  background: LightBlue;
  border: 1px solid Blue;
  padding: 10px;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
}
