:root {
  /* --main-brand: #9FA2B3; */
  /* --dark-accent: #7D675C; */
  /* --light-accent: #99767A; */
  /* --dark-shades: #2D2F42; */
  /* --light-shades: #FAF8F7; */
  --light-background: #d3d7da;
  --primary-blue: #094659;
  --secondary-green: #627048;
  --info-pink: #bc537e;
}

body {
  display: flex;
  background-color: var(--light-background);
  justify-content: center;
}

body > header {
  position: absolute;
  top: 0;
  padding: 30px;
  /* background-color: var(--primary-blue); */
}

body > header h1 {
  font-size: 30px;
  font-family: 'Heebo';
  color: var(--secondary-green);
}

main {
  position: relative; 
}

button {
  background: transparent;
  border: none;
  outline: none;
  display: block;
  height: 200px;
  width: 200px;
  cursor: pointer;
}

.flash_success {
  text-align: center;
  font-family: "Heebo";
}

.board {
  display: grid;
  padding-top: 200px;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 200px 200px 200px;
}

.cell {
  border: 1px solid var(--primary-blue);
  /* padding: 10px; */
  text-align: center;
}

/* Get rid of outside borders of board */
#square-1,
#square-2,
#square-3 {
  border-top: none;
}

#square-7,
#square-8,
#square-9 {
  border-bottom: none;
}

#square-1,
#square-4,
#square-7 {
  border-left: none;
}

#square-3,
#square-6,
#square-9 {
  border-right: none;
}
