.board {
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 200px 200px 200px;
}

.cell {
  border: 1px solid #a89984;
  padding: 10px;
  text-align: center;
}

body {
  display: flex;
  background-color: #282828;
  justify-content: center;
}

button {
  background: transparent;
  border: none;
  outline: none;
  display: block;
  height: 200px;
  width: 200px;
  cursor: pointer;
}
